*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

.Edu1
{
    display: flex;
}
.edu
{
background-color: black;
width:800px;
display: flex;
justify-content:space-between;
align-items: center;


}
.edu li
{
list-style: none;
padding: 20px;
}

.edu li a
{
    text-decoration: none ;
    color: #fff;

}
.edu li a:hover
{
    color: grey;
}
.image1
{
    border: 3px solid #fff;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
.div1
{
    width: 480px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 250px;
    background-color: grey;
}
.intro 
{
    display:flex;
}
.text1
{
    width: 480px;
    height: 40px;
    background-color: ghostwhite;
    box-sizing: border-box;
}
.text1 h1
{
    padding-left: 50px;
    
}
.text1 h3
{
    padding: 10px;
    padding-bottom: 0%;
    text-align: justify;

}
.image2
{
    padding-left: 120px;

}
.back
{
    width:800 px;
}
.chef
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: ghostwhite;
    border-radius: 10px;
    width:fit-content;
    border: 5px solid black;
    color:grey;
    margin-top: 10px;
    margin-left: 520px;
    padding:6px;
    margin-bottom: 10px;
}
.chef1
{
    width:80px;
    height:80px;
    border-radius: 4px;
}
.biryani
{
    display:flex;
    padding:10px;
}
.intro2
{
    font-family: Arial, Helvetica, sans-serif;

}
.biryani1
{
    width: 400px;
    border-radius: 30px;
    height: 200px;
    padding: 0%;
}
.Chicken
{
    display:flex;
    padding:10px;
}
.intro3
{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;

}
.chicken1
{
    width: 400px;
    border-radius: 30px;
    height: 200px;
    padding: 0%;
}